@model smartData.Models.ChangePasswordModel

@{
    ViewBag.Title = "::ChangePassword::";
    Layout = "~/Views/Shared/_UserOuterLayout.cshtml";
}

@section CSSLinks
    {

}

<section class="main-container fit-assemnt-step-first thankyoubg">
    <section class="login-box">
        <h2> <img src="@Url.Content("~/Images/logo.png")"> </h2>
        @using (Html.BeginForm("ChangePasswordAdmin", "Account", new { model = @Model }, FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <ul>
                <li>
                    @Html.LabelFor(m => m.NewPassword, new { @class = "" })

                    @Html.PasswordFor(m => m.NewPassword, new { @class = "", minlength = "8", maxlength = "12" })
                    @Html.ValidationMessageFor(m => m.NewPassword)

                    <span id="result"></span>
                </li>

                <li>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "", minlength = "8", maxlength = "12" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>

                @Html.HiddenFor(x => x.UserName)
                <input type="hidden" value="@TempData["username"]" id="user" />

                @Html.HiddenFor(x => x.InustryId)
                <input type="hidden" value="@TempData["token"]" id="industryId" />
                <li>
                    <input type="submit" value="Reset Password" class="bluebtn" />
                </li>
            </ul>
        }
    </section>
</section>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#NewPassword').val('');
            $("#UserName").val($("#user").val());
            $("#InustryId").val($('#industryId').val());
        });
    </script>
}


