@model smartData.Models.ResetPasswordModel
@{
    ViewBag.Title = "::ResetPassword::";
    Layout = "~/Views/Shared/_UserOuterLayout.cshtml";
}

@section CSSLinks
    {

}

<script src="~/Scripts/Jscripts/confirm.js"></script>
<link href="~/Content/confirm.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        debugger;
        var msg = $("#message").val();
        if (msg == "errorReset") {
            $.confirm({
                title: 'Error!',
                content: 'User does not exist.',
                type: 'red',
                typeAnimated: true,
                buttons: {
                    close: function () {
                        $("#UserName").val("");
                    }
                }
            });
        }
    })
</script>
<input type="hidden" value="@TempData["Message"]" id="message" /> 



<section class="main-container fit-assemnt-step-first thankyoubg">
    <section class="login-box">
        <h2> <img src="@Url.Content("~/Images/logo.png")"> </h2>

        @using (Html.BeginForm("ResetPasswordAdmin", "Account", new { model = @Model }, FormMethod.Post, new { @class = "" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)

            <ul>
                <li>
                    @Html.Label("Email", new { @class = "" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.Label("Industry Name", new { @class = "" })
                    @Html.DropDownListFor(m => m.IndustryId, (SelectList)@ViewBag.IndustryName, "Select Industry Name", new { id = "industry" })
                    @Html.ValidationMessageFor(m => m.IndustryId)
                </li>
                <li>
                    <input type="submit" value="Reset Password" class="bluebtn" />
                </li>
                @if (@ViewBag.Url == "/superadmin")
                {
                    <li>
                        @Html.ActionLink("Back to Login", "SuperAdminLogin", "Account", new { @area = "Admin" })
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink("Back to Login", "Login")
                    </li>
                }

            </ul>
        }
    </section>
</section>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")

}
<script>

</script>