@{
ViewBag.Title = "Change Password";
}
@using Microsoft.AspNet.Identity
@model smartData.Models.ManageUserViewModel

<div class="margintop50">
    <p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p></div>

    @*@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))*@
    @using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "spanError", OnSuccess = "updateSuccess(data);" }, new { @class = "form-horizontal", role = "form" }))
    {
      @Html.AntiForgeryToken()
    <h4>Change Password</h4>
    <hr />
    @Html.ValidationSummary()
    

    <div id="divSuccess" style="display:none;"><span id="spanSuccess"></span><br /><br /></div>
    <div id="divSpanError" style="display:none;" class="validation-summary-errors">
        <ul>
            <li><span id="spanError"></span></li>
        </ul>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.OldPassword, new { @id = "OldPswd", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new {  @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.NewPassword, new { @id = "NewPswd", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new {  @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new {@id="ConfirmPswd", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" onclick="hideCustomErr();" />
        </div>
    </div>

    <div id='loadingmessage' class="loader1 fade1" style="display: none; z-index: 5000; height: 95%; width: 90%; margin-left: 4%; ">
        <img src='~/Areas/ScreenPermissions/Images/loading2.gif' style="height: 50px;width: 50px;" />
    </div>
    
}

@System.Web.Optimization.Scripts.Render("~/Scripts/js/account.js")